a.show-abstract {
    background: url('../images/scholarbase-sprite.png') no-repeat 0 -399px transparent;
    padding-left: 12px;
    text-decoration: none;
    color: #336599;
}

a.show-abstract.open {
    background: url('../images/scholarbase-sprite.png') no-repeat 0 -412px transparent;
    padding-left: 12px;
    text-decoration: none;
    color: #336599;
}

a.show-abstract:hover {
    text-decoration: none;
    cursor: pointer;
}

div.abstract-body {
    line-height: 1.5em;
    display: none;
    background: #FAFAFA;
    padding: 8px;
    border: 1px solid #CCC;
}